name: Update Test262 Results

on:
  push:
    branches:
      - main

jobs:
  update-results:
    if: github.repository == 'Sharktheone/yavashark'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Checkout test262 repository
        uses: actions/checkout@v4
        with:
          repository: tc39/test262
          path: test262

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23'

      - name: Build Go Runner
        working-directory: crates/yavashark_test262/runner
        run: |
          go build

      - name: Build engine
        working-directory: crates/yavashark_test262
        run: |
          cargo build --release

      - name: Checkout data repository
        uses: actions/checkout@v3
        with:
          repository: Sharktheone/yavashark-data
          token: ${{ secrets.YAVASHARK_DATA_PAT }}
          fetch-depth: '1'
          path: data
          persist-credentials: 'true'
      - name: Run Test262 Runner
        working-directory: crates/yavashark_test262
        run: |
          ./runner/yavashark_test262_runner --ci --repo ../../data --test_root ../../test262/test --workers 256 --noskip

      - name: Update results
        working-directory: data
        run: |
          git pull
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git add .
          git commit -m "Update test262 results"
          git push



